<section class="section-wrapper post-detail-wrapper">
  <% if (post) { %>
    <!-- 帖子详情 -->
    <div>
      <!-- <p><%= JSON.stringify(post, null, 2) %></p> -->
      <h1><%= post.title %></h1>
      <p>
        <a href="/user/<%= post.author_id %>" target="_blank"><%= post.author %></a>
        <span><%= post.create_time.toLocaleDateString() %></span>
      </p>
      <pre><%= post.content %></pre>
    </div>
    <!-- TODO: 评论列表 -->
    <div style="padding-top: 20px;"></div>
    <!-- TODO: 发表评论 -->
    <div style="padding-top: 20px;">
      <div>您需要登录后才可以回复，请<a href="/signin">登录</a>或者<a href="/signup">立即注册</a></div>
      <textarea name="comment" id="comment" cols="50" rows="6"></textarea>
      <div>
        <button type="button">回复</button>
      </div>
    </div>
  <% } else { %>
    <p>帖子找不到了 ：）</p>
  <% } %>
</section>
