<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
  <div style="text-align: center;">
    <a href="/">
      <button>首页</button>
    </a>
    <a href="/post">
      <button>帖子</button>
    </a>
    <a href="/signin">
      <button>登陆</button>
    </a>
    <a href="/signup">
      <button>注册</button>
    </a>
  </div>
  <%- body %>
</body>
</html>
