<div id="signup-page">
  <h1>sign up page</h1>
  <div>
    <form>
      <label for="username">用户名</label>
      <input type="text" name="username" id="username">
      <label for="password">密码</label>
      <input type="password" name="password" id="password">
      <button type="button" onclick="createUser()">注册</button>
      <button type="reset">清空</button>
    </form>
  </div>
</div>
<script>
  const createUser = () => {
    var url = '/api/signup';
    var data = { username: document.querySelector('#username').value, password: document.querySelector('#password').value, };

    fetch(url, {
      method: 'POST', // or 'PUT'
      body: JSON.stringify(data), // data can be `string` or {object}!
      headers: new Headers({
        'Content-Type': 'application/json'
      })
    }).then(res => {
      console.log(res);
    })
      .catch(error => console.error('Error:', error))
      .then(response => console.log('Success:', response));
  }
</script>
