<div id="signin-page">
  <h1>登陆</h1>
  <div>
    <form>
      <label for="username">用户名</label>
      <input type="text" name="username" id="username">
      <label for="password">密码</label>
      <input type="password" name="password" id="password">
      <button type="button" onclick="userLogin()">登陆</button>
    </form>
  </div>
</div>
<script>
  const userLogin = () => {
    var url = '/api/signin';
    var data = { username: document.querySelector('#username').value, password: document.querySelector('#password').value, };

    fetch(url, {
      method: 'POST',
      body: JSON.stringify(data),
      headers: new Headers({
        'Content-Type': 'application/json'
      })
    }).then(async res => {
      const r = await res.json();
      console.log(r);
      console.log(res);
      if (r.result) {
        location.replace('/');
      }
    })
      .catch(error => console.error('Error:', error));
  }
</script>
