<div id="signup-page">
  <h1>注册</h1>
  <div>
    <!-- TODO: 表单校验 -->
    <form>
      <label for="username">用户名</label>
      <input type="text" name="username" id="username" required>
      <label for="password">密码</label>
      <input type="password" name="password" id="password" required>
      <button type="button" onclick="createUser">注册</button>
      <button type="reset">清空</button>
    </form>
  </div>
</div>
<script>
  const createUser = () => {
    var url = '/api/signup';
    var data = { username: document.querySelector('#username').value, password: document.querySelector('#password').value, };

    fetch(url, {
      method: 'POST',
      body: JSON.stringify(data),
      headers: new Headers({
        'Content-Type': 'application/json'
      })
    }).then(async res => {
      const r = await res.json();
      if (r.result) {
        location.replace('/');
      }
    })
      .catch(error => console.error('Error:', error))
      .then(response => console.log('Success:', response));
  }
</script>
