html {
  font: 110%/1.5 "ff-meta-serif-web-pro", "system-ui", serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  max-width: 832px;
  margin: 0 auto;
  padding: 32px 16px;
  color: #1a1a1a;
}
pre {
  white-space: pre-wrap;
}
::selection {
  background: #ffea00;
  color: black;
}
.section-wrapper {
  max-width: 832px;
  padding: 32px 16px;
  margin-left: auto;
  margin-right: auto;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cs-pt {
  cursor: pointer;
}
